!/docs/.vuepress
!/.github
!/.vscode
/.nyc_output
/assets
/coverage
/dist
/docs/.vuepress/dist
/node_modules
/tests/fixtures
/tests-integrations/config-recommended

# ignore files
/CHANGELOG.md
/.github/ISSUE_TEMPLATE/
