name: Release

on:
  push:
    branches:
      - master

permissions: {}

# Allow one concurrent deployment
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    # prevents this action from running on forks
    if: github.repository == 'intlify/eslint-plugin-vue-i18n'
    permissions:
      contents: write # to create release (changesets/action)
      id-token: write # OpenID Connect token needed for provenance
      pull-requests: write # to create pull request (changesets/action)
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - uses: pnpm/action-setup@v4

      - name: Install Dependencies
        run: pnpm install
      - name: Build
        run: pnpm run build

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # this expects you to have a npm script called version that runs some logic and then calls `changeset version`.
          version: pnpm run version:ci
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: pnpm run release
          commit: 'chore: release `@intlify/eslint-plugin-vue-i18n`'
          title: 'chore: release `@intlify/eslint-plugin-vue-i18n`'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
