name: Test
on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
env:
  CI: true

jobs:
  test:
    name: "Test on Node.js ${{ matrix.node }} OS: ${{matrix.os}}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [10, 12, 14]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        run: yarn install
      - name: Lint
        run: yarn lint
      - name: Lint docs
        run: yarn lint:docs
      - name: Test
        run: yarn test
      - name: Integration Test
        run: yarn test:integrations
